body, html
{
	background: transparent url('../images/notebook.jpeg') no-repeat fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
}

#wrapper
{
	width: 980px;
	margin: 0 auto;
}

#footer
{
	clear: both;
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	text-align: center;
}

#tblUp
{
	border: 3px outset #999;
	text-align: center;
	margin: 0 auto;
}

.cell
{
	border:1px inset #999;
}

.success
{
	font-weight: bold;
	color: green;
}

.error
{
	font-weight: bold;
	color: red;
}

div.thumb
{
	width: 400px;
	margin: 0 auto;
}

div.thumb img
{
	max-width: 400px;
}

div.thumb p
{
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
}

#rate
{
	width: 290px;
	margin: 0 auto;
	margin-left: -30px;
}

.rate
{
	padding: 5px;
	border: 1px solid #000;
	background: #000088;
	float: left;
	color: #fff;
	margin-left: 30px;
	cursor: pointer;
}
